.example-form {
   
    width: 40%;
  }
  
  .example-full-width {
    width: 60%;
  }

  table {
    width: 100%;
  }

.size-detalles {
  width: 45%;
  padding: 5px;
  }

.size-descripcion {
  width: 92%;
}